.headerContainer {
    font-family: "Satisfy", cursive;
    font-weight: 380;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    font-size: 1.7cm;
    background-color: #D14D72;
    flex-wrap: wrap;
    z-index: 1;
    position: sticky;
    top: 0px;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
} 

#contenido {
    background-color: #F5EEE6;
}

.bodyContent{
    background-color: #FCC8D1;
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 25px;
    font-family:serif;
    font-style: italic;
    padding: 5px;
    font-size: 0.7cm;
    }

#in{
    text-indent: -70px;
    color: #F7418F;
}
#fun{
    text-indent: 50px;
    color: #F7418F;

}
#vd{
    text-indent: 50px;
    color: #F7418F;

}
#ej{
    text-indent: 50px;
    color: #F7418F;
}
.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    text-wrap: wrap;
    text-indent: 5px;
    padding: 15px;
    margin: 10px;
    text-indent: 7px;
}

#ven{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-indent: 5px; 
    line-height: 40px;
}


#desven{
    line-height: 50px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 5px;
}

.list{
    text-indent: 20px;
    margin-bottom: 5px;
    font-family: serif;
}